
services:
  redis:
    container_name: redis
    image: redis:8.2.3-alpine
    command: redis-server --requirepass ${REDIS_PASSWORD}
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20
    env_file: [".env"]
    # ports:
    #  - "6379:6379"
    networks:
      sysacad-network:
         aliases:
           - cache.sysacad.localhost
    labels:
      - "traefik.enable=true"
      - "traefik.tcp.routers.cache.rule=HostSNI(`*`)"
      - "traefik.tcp.routers.cache.entrypoints=redis"
      - "traefik.tcp.services.cache.loadbalancer.server.port=6379"

networks:
  sysacad-network:
    name: sysacad-network
    external: true